.definirPeriodo{
  text-align: center;
  margin: 0;
}

.botoesQuitacao, .botoesAcoes{
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.botoesQuitacao button{
  width: 48.5%;
  margin: 0;
}

.botoesAcoes button{
  width: 61%;
  margin: 0;
}

.botoesAcoes select{
  width: 35%;
  margin: 0;
}

.containerCompras{
  width: 500px;
  height: auto;
  border-radius: 10px;
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px var(--sombra), 0 8px 16px var(--sombra);
}

.margemContainerCompras{
  width: 90%;
  margin: 25px 0;
}

.compra{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.selecione{
  cursor: pointer;
}

.selecionado{
  border-radius: 5px;
  background-color: rgb(140, 43, 251, 0.15);
}

.compra:nth-child(1) p{
  font-weight: 400;
}

.compra:nth-child(1) p:nth-child(4), .compra:nth-child(1) p:nth-child(5){
  width: 20%;
  text-align: center;
}

.compra div{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.compra div:nth-child(1), .compra:nth-child(1) p:nth-child(1){
  width: 20%;
}

.compra div:nth-child(2), .compra:nth-child(1) p:nth-child(2){
  width: 30%;
}

.compra div:nth-child(3), .compra:nth-child(1) p:nth-child(3){
  width: 25%;
}

.compra div p{
  margin: 0;
}

.quitado{
  justify-content: center;
  width: 20%;
}

.statusQuitado{
  width: 20px;
  height: 20px;
  background-color: var(--itemNegativo);
  border-radius: 5px;
  margin: 0;
}

.foiQuitado{
  background-color: var(--itemPositivo);
}

@media screen and (max-width: 500px){
  .containerCompras, .definirPeriodo, .botaoSelecionarQuitacoes, .botoesQuitacao, .botoesAcoes{
    width: 100%;
  }
}