.cabecalho{
  background-color: var(--fundo);
  width: 100%;
  height: 60px;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  border: 2px solid ridge;
}

.margemCabecalho{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconVoltar{
  width: 30px;
}

.margemCabecalho h1{
  font-size: 25px;
}