.estatisticas{
  width: 500px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 4px var(--sombra), 0 8px 16px var(--sombra);
}

.margemEstatisticas{
  width: 90%;
  margin: 30px 0;
}

.margemEstatisticas label{
  font-weight: 500;
  margin: 0;
}

.margemEstatisticas p{
  margin: 0 0 15px 0;
}

@media screen and (max-width: 500px) {
  .estatisticas{
    width: 100%;
  }
}