.botoesLancarDespesa{
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.botoesLancarDespesa button{width: 49%;}

.botaoLancarDespesa, .botaoTornarDespesasPendentes{
  width: 500px;
  margin: 20px 0 0 0;
}

.botaoTornarDespesasPendentes{
  margin-top: 10px;
}

.infoDespesas{
  width: 500px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.totalDespesas{
  font-size: 17.5px;
  width: fit-content;
  height: fit-content;
  padding: 5px 12.5px;
  background-color: rgb(140, 43, 251, 0.15);
  border-radius: 10px;
  color: var(--primaria);
  font-weight: 350;
}

.infoDespesas select{
  width: fit-content;
  margin: 0;
  padding: 0 15px;
}

.despesa{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: var(--card);
  box-shadow: 0 2px 4px var(--sombra), 0 8px 16px var(--sombra);
  border-radius: 10px;
}

.escolherDespesa:hover{
  cursor: pointer;
  filter: brightness(95%);
}

.selecionado{
  background-color: rgb(141, 60, 248, 0.15);
  border: 4px solid rgba(140, 43, 251, 0.18);
}

.margemDespesa{
  width: 90%;
  margin: 20px 0;
  display: flex;
  position: relative;
}

.botaoExcluir{
  right: -10px;
  bottom: -5px;
  position: absolute;
  cursor: pointer;
  width: 17.5px;
}

.botaoExcluir:hover{
  filter: invert(35%) sepia(93%) saturate(3500%) hue-rotate(255deg) brightness(101%) contrast(96%);
}

.margemDespesa div{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.margemDespesa div:nth-child(3){
  width: 40%;
}

.molduraDia{
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: rgb(255, 239, 239);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.molduraDia:hover{
  filter: brightness(95%);
}

.lancada{
  background-color: rgb(226, 248, 237);
}

.neutra{
  background-color: rgb(141, 60, 248, 0.15);
}

.molduraDia p{
  margin: 0;
}

.margemDespesa div p{
  margin: 0;
}

.margemDespesa div:nth-child(4) p{
  font-weight: 400;
}

.despesa div:nth-child(4) button{
  width: 80%;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .botoesLancarDespesa, .botaoLancarDespesa, .botaoTornarDespesasPendentes, .infoDespesas{
    width: 100%;
  }
}