.seletorQuantidadeDias{
  width: 500px;
  height: 35px;
  display: flex;
  justify-content: center;
}

.opcaoQuantidadeDias{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 0 10px;
  background-color: #efefef;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 4px var(--sombra), 0 8px 16px var(--sombra);
  cursor: pointer;
}

.quantidadeDiasSelecionado{
  background-color: #fff;
}

.usoCategorias, .metricasDespesas, .cartoes{
  width: 500px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 4px var(--sombra), 0 8px 16px var(--sombra);
  margin: 0 0 30px 0;
  border-radius: 10px;
}

.cartoes{margin-top: -20px;}

.margemUsoCategorias, .margemCartoes{
  width: 90%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.infosCategorias, .infosCartoes{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.infosCartoes h1, .infosCategorias span h1{
  font-size: 20px;
  color: #000;
  font-weight: 450;
  margin: 0;
}

.infosCategorias span p{
  margin: -5px 0 0 0;
  font-size: 12.5px;
}

.categoria{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
}

.iconeCategoria{
  width: 50px;
  height: 50px;
  background-color: rgb(140, 43, 251, 0.15);
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconeCategoria img{
  width: 25px;
  filter: invert(35%) sepia(93%) saturate(3500%) hue-rotate(255deg) brightness(101%) contrast(96%);
}

.iconeCategoria p{
  font-weight: 500;
  margin: 0;
  color: var(--primaria);
}

.dadosCategoria, .dadosCartao{
  display: flex;
  align-items: center;
  width: calc(100% - 70px);
  justify-content: space-between;
  flex-wrap: wrap;
}

.dadosCategoria p{
  margin: 0;
}

.dadosCategoria p:nth-child(2){
  font-weight: 400;
}

.iconSeta{
  filter: invert(70%);
  margin-left: 10px;
}

.iconInvertido{
  transform: rotate(180deg);
}

.acoes{
  width: 90%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: -15px;
  background-color: rgba(209, 177, 247, 0.125);
  border-radius: 10px;
}

.acaoCategoria{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.acaoCategoria:nth-child(1){
  margin-top: 0;
}

.infoAcaoCategoria p{
  margin: 0;
}

.dataAcaoCategoria, .valorAcaoCategoria{
  font-size: 15px;
  color: #282828;
}

.horarioAcaoCategoria{
  font-size: 12px;
}


.metricasSaldo{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.receita, .gasto, .balanco{
  margin: 0;
  font-weight: 300;
}


/*Despesas*/
.metricasDespesas{
  background-color: #fff;
  width: 500px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px var(--sombra), 0 8px 16px var(--sombra);
}

.margemMetricasDespesas{
  width: 90%;
  margin: 20px 0;
}

.metricasDespesas p{margin: 0;}

.cabecalhoMetricas{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cabecalhoMetricas select{
  width: 30%;
  margin: 0;
  padding: 0 10px;
}

.valorTotal{
  font-weight: 400;
  color: #5a5a5a;
  margin: 0;
}

.metricasDespesas span{
  display: flex;
}

.totais{
  display: flex;
  justify-content: space-between;
}

.indicador, .indicador2{
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: var(--itemPositivo);
  margin-right: 7.5px;
}

.indicador2{
  background-color: var(--itemNegativo);
}


/*Cartão*/
.rodapeValoresMetricas{
  margin: -5px 0 0 0;
  font-size: 13px;
}

.metricasCartao{
  width: fit-content;
  margin-left: auto;
  margin-top: 10px;
}

.metricasCartao h1{
  width: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 25px;
  color: #000;
  text-align: right;
}

.metricasCartao p{
  font-size: 13px;
  margin: -7.5px 0 0 0;
}

.dadosCartao p{margin: 0;}

.dadosCartao p:nth-child(1){
  font-weight: 500;
  font-size: 17.5px;
}

.dadosCartao p:nth-child(3){
  width: 100%;
  margin: 0;
  font-size: 13px;
}

.dadosCategoria p:nth-child(1){
  color: black;
}

@media screen and (max-width: 550px) {
  .seletorQuantidadeDias, .usoCategorias, .metricasDespesas, .cartoes, .acoes{
    width: 100%;
  }
}