.barra {
  width: 100%;
  height: 13px;
  background-color: rgba(204, 189, 222, 0.4);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  margin: 5px 0;
}

.inicial {
  height: 100%;
  background-color: var(--primaria);
}

.atual {
  height: 100%;
  background-color: var(--itemNegativo);
}

.vermelho{
  background-color: var(--itemNegativo);
  margin: 10px 0;
}

.verde{
  background-color: var(--itemPositivo);
}

.btnroxo{
  background-color: var(--primaria);
}

.btnpreto{
  background-color: rgb(71, 71, 72);
}

.btnazul{
  background-color: rgb(3, 108, 228);
}

.btnvermelho{
  background-color: rgb(170, 34, 34);
}

.btnverde{
  background-color: rgb(11, 148, 73);
}