.opcao{
  width: 31%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 0 0 15px 3%;
  background-color: var(--card);
  box-shadow: 0 2px 4px var(--sombra), 0 8px 16px var(--sombra);
  text-decoration: none;
}

.opcao:nth-child(3n + 1){
  margin-left: 0;
}

.opcao:hover{
  filter: brightness(90%);
}

.margemOpcao{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.molduraIcone{
  width: 55px;
  height: 55px;
  background-color: rgb(141, 60, 248, 0.15);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.molduraIcone img{
  width: 35px;
  filter: invert(35%) sepia(93%) saturate(3500%) hue-rotate(255deg) brightness(101%) contrast(96%);
}

.desativado, .desativado:hover{
  background-color: rgb(233, 233, 233);
  cursor: initial;
  filter: brightness(100%);
}

.desativado div div:nth-child(1){
  background-color: rgb(210, 210, 210);
}

.desativado div div  img{
  filter: invert(35%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(101%) contrast(96%);
}

/*.molduraIcone{
  background-color: silver;
}

.molduraIcone img{
  filter: grayscale(100%) brightness(100%);
}*/

.margemOpcao p{
  font-size: 11px;
  margin: 0;
}

.titulo{
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.titulo p{
  font-size: 14px;
  color: #000;
  font-weight: 400;
  margin: 0;
}

.titulo img{
  width: 20px;
  filter: invert(35%) sepia(93%) saturate(3500%) hue-rotate(255deg) brightness(101%) contrast(96%);
}


@media screen and (max-width: 600px) {
  .opcao, .opcao:nth-child(3n + 1){
    width: 48%;
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 325px) {
  .opcao, .opcao:nth-child(3n + 1){
    width: 100%;
    margin: 0 0 20px 0;
  }
}